.title{
  text-align:center;
  font-size: 70px;
  color: white;
  font-family: 'Noticia Text', serif;
}

.climatechange1{
  text-align:center;
  font-size: 55px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
  border-bottom: 2px;
  border-style: solid;
  border-color: #135E67;
  border-top: none;
  border-left: none;
  border-right: none;
  /*width: 490px; */
  width:40%;
  float: right;
  margin-top: -117px;
  margin-right: 50px;
}

.climatechange{
  text-align:center;
  font-size: 55px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
  border-bottom: 2px;
  border-style: solid;
  border-color: #135E67;
  border-top: none;
  border-left: none;
  border-right: none;
  /*width: 490px; */
  width:40%;
  margin-left: 40px;
}


.minititle2{
  text-align:center;
  font-size: 40px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
}

.minititle{
  text-align:center;
  font-size: 60px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
/*  border: 1px #135E67;
  border-radius: 50px;
  border-style: dashed;*/
}

.squiggly{
  width:30%;
  height:15%;
  float: left;
  margin-left: 50px;
}

.squiggly1{
  width:30%;
  height:15%;
  float: right;
  margin-right: 50px;
}

.minititle1{
  text-align:center;
  font-size: 50px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
/*  border: 1px #135E67;
  border-radius: 50px;
  border-style: dashed;*/
}

.firstintro{
  text-align: left;
  float: left;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  text-indent: 25px;
  width: 40%;
  margin-left: 40px;
}

.firstintro1{
  text-align: left;
  float: left;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  text-indent: 25px;
  width: 45%;
  float: right;
  margin-top: -40px;
  margin-right: 50px;
}

.intro{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:30px;
  color: #254031;
}


.intro1{
  width: 95%;
  float: left;
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:30px;
  color: #254031;
}


.intro2{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  margin-left: 130px;
}

.correctpic{
  width: 50%;
  height: 75%;
  float: left;
  margin-left: 170px;
  margin-bottom: 130px;
}

.correctpic1{
  width: 60%;
  height: 95%;
  float: center;
  margin-left: 300px;
  margin-bottom: 130px;
}


.graphtext{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  /*margin-left: 650px;*/
  float: right;
  width: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}


.graphtext1{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  /*margin-left: 650px;*/
  margin-top: 10px;
  float: right;
  width: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}


.organictext1{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  /*margin-left: 650px;*/
  margin-top: 0px;
  float: right;
  width: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
}

.organictext2{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  /*margin-left: 650px;*/
  margin-top: 0px;
  float: right;
  width: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
}

.watertext1{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  /*margin-left: 650px;*/
  margin-top: 0px;
  float: right;
  width: 35%;
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;
}

.watervideo{
margin-left: 500px;
margin-bottom: 30px;
margin-top: -50px;
}

.videotext{
  margin-left: 200px;
  margin-top: -430px;
  font-family: 'Noticia Text', serif;
  font-size:40px;
  color: #254031;
  float: left;
  width: 20%;
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;
  text-align: center;
}

body {margin:25px;}

div.polaroid {
  width: 20%;
  height: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: right;
  margin-left: 30px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  font-family: 'Noticia Text', serif;
  font-size:15px;
  color: #254031;
}

.np1{
  height: 150px;
  float: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
}




.p1{
  height: 350px;
  float: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 400px;
}

.p2{
  height: 300px;
  float: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 350px;
}


div.polaroid2 {
  width: 20%;
  height: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: right;
  margin-right: 250px;
  margin-bottom: 200px;
}

div.polaroid3 {
  width: 20%;
  height: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: right;
  margin-right: 100px;
  margin-bottom: 200px;
}







.waterfall{
  width: 100%;
  height: 100px;
  /*margin-top: -41px;*/

}

.btn-group button {
  background-color: #135E67; /* Green background */
  border: 1px solid "white"; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 17px;
  font-family: 'Noticia Text', serif;
/*  z-index: 1;/*


}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders it was none*/
}
/* Clear floats (clearfix hack)*/
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: #025357;
}




.button button{
  width: 100px;
  display: block; /* Make the links appear below each other */
  background-color: #135E67;
  font-size: 17px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: white; /* Black text color */
  border-style: none;
}

.vertical-menu {
  width: 120px; /* Set a width if you like 200px */
  float: left;
  margin-bottom: 100px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  margin-top: 2px; /* Add a top margin to avoid content overlay 30px, 15!!*/
}

.vertical-menu a {
  background-color: #135E67; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10%; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 17px;
  font-family: 'Noticia Text', serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #025357; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}



body, html {
    height: 100%;
}

/* The hero image */
.waterfall {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("water.gif");

  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*z-index: 0;*/
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: -170px;
  text-align:center;
  font-size: 50px;
  color: white;
  font-family: 'Noticia Text', serif;
}





.forests{
  background-image: url("foresty2.jpg");
  font-size: 50px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  border: none;
  color: white;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  margin-left: 180px;
  margin-right: 80px;
  opacity: 1;
}

.forests:hover {
  opacity: .7;
  cursor: pointer;
}



.animals{
  background-image: url("tigercub2.jpg");
  font-size: 50px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  border: none;
  color: white;
  width: 20%;
  height: 40%;
  margin-right: 80px;
  border-radius: 50%;
  opacity: 1;
}

.animals:hover {
  opacity: .7;
  cursor: pointer;
}


.climate{
  background-image: url("climate3.jpg");
  font-size: 50px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  border: none;
  color: white;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  opacity: 1;
}

.climate:hover {
  opacity: .7;
  cursor: pointer;
}

.parklinks{
  color:#135E67;
}




/*ABOUT US*/
.members{
  width: 100%;
  font-size: 70px;
  background-color: #ffffff;
  font-family: 'Noticia Text', serif;
  color: #135e67;

}

.jolina, .cathy{
  float: left;
  width: 50%;
  height: 250px;
}

.adriana, .natalie{
  float: right;
  width: 50%;
  height: 250px;
}

.jpic{
  padding: 15px;
  width: 20%;
  float: left;
}

.jolina{
  background-color: #ffffff;
}

.jname{
  font-size: 35px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.jpar{
  font-size: 15px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.apic{
  padding: 15px;
  width: 20%;
  float: left;
}

.adriana{
  background-color: #ffffff;
}

.aname{
  font-size: 35px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.apar{
  font-size: 15px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.ali{
  margin-left: 155px;
}

.cpic{
  padding: 15px;
  width: 20%;
  float: left;
}

.cathy{
  background-color: #ffffff;
}

.cname{
  font-size: 35px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.cpar{
  font-size: 15px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.npic{
  padding: 15px;
  width: 20%;
  float: left;
}

.natalie{
  background-color: #ffffff;
}

.nname{
  font-size: 35px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}

.npar{
  font-size: 15px;
  font-family: 'Noticia Text', serif;
  color: #135e67;
}


.space{
  width: 100%;
  height: 50px;
}

.random44{
  color: #ffffff;
}

.box1{
  margin-top: 50px;
  border-style: solid;
    border-width: 1px;
    border-color: #135e67;
    background-color:#b8ced1;
}

.box2{
  border-style: solid;
    border-width: 1px;
    border-color: #135e67;
    background-color: #b8ced1;
}

.miss{
  font-size: 45px;
  font-family: 'Noticia Text', serif;
  color: #135e67;

}

.missions{
  font-size: 25px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: #135E67;
  margin-left: 20px;
  margin-right: 20px;
}

.vis{
font-size: 45px;
font-family: 'Noticia Text', serif;
color: #135E67;
}

.visions{
  font-size: 25px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: #135E67;
  margin-left: 20px;
  margin-right: 20px;
}

.cv{
  font-size: 45px;
  color: #135e67;
  font-family: 'Noticia Text', serif;
}

/*.own, .sus, .opt{
  width: 80%;
  float: center;*/

.own{
  background-color:#89aeb3;
  width: 30%;
  height: 480px;
  float: left;
  display: inline;
}

.owp{
  height: 110px;
  width: 110px;
  margin-left: 120px;

}

.sus{
  background-color: #598e94;
  width: 30%;
  height: 480px;
  float: left;
  margin-left: 65px;
  display: inline;
}

.sp{
  height: 120px;
  width: 120px;
  margin-left: 120px;

}

.opt{
  background-color: #135E67;
  width: 30%;
  height: 480px;
  float: right;
  display: inline;
}

.opp{
  height: 120px;
  width: 120px;
  margin-left: 120px;

}

.core{
  font-size:35px;
  color: #ffffff;
  font-family: 'Noticia Text', serif;
}

.cort1{
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  font-family: 'Noticia Text', serif;
  margin-left: 10px;
  margin-right: 10px;
}

.cort{
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  font-family: 'Noticia Text', serif;
  margin-left: 10px;
  margin-right: 10px;
}


/*ANIMAL CSS*/
.elephantsunset{
  width: 100%;
  height: 550px;
}

.animaltitle{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 100px;
  font-family: 'Noticia Text', serif;
}

.animaldef{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-family: 'Noticia Text', serif;
}


.happening{
  text-align:center;
  font-size: 50px;
  color: black;
  font-family: 'Noticia Text', serif;
}

.happeningpara{
  text-align:left;
  margin-left: 10px;
  width:35%;
  font-size: 25px;
  color: black;
  font-family: 'Noticia Text', serif;
  text-indent: 25px;
}

.happeningpara1{
  text-align:left;
  width:35%;
  font-size: 25px;
  color: black;
  font-family: 'Noticia Text', serif;
  float: left;
}

.happeningpara2{
  text-align:left;
  width:35%;
  font-size: 20px;
  color: black;
  font-family: 'Noticia Text', serif;
  float: left;
}

.extinctvideo{
  float: right;
  margin-right: 10px;
  margin-top: -40%;
}

.link{
  color: orange;
}

.elk{
  float: right;
  margin-top: 70px;
  margin-right: 20px;
  width: 650px;
  height: 480px;
}

.midwaystats{
  width:30.3%;
  margin-left: 25px;
}

.circlebuttonspages button {
  background-color: black; /* Green background */
  border: 1px solid "white"; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 17px;
  font-family: 'Noticia Text', serif;
}


.circlebuttonspages button:not(:last-child) {
  border-right: none; /* Prevent double borders it was none*/
}

/* Clear floats (clearfix hack) */
.circlebuttonspages:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.circlebuttonspages button:hover {
  background-color: darkorange;
}

.bigborder{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 680px;
  }

  .bigborder1{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 620px;
  }

  .protest{
    margin-top: 120px;
    width: 70%;
    height: 80%;
    margin-left: 200px;
  }

.logo{
  width: 15%;
  height: 23%;
  text-align: center;
  margin-left: 115px;
  }

  /*.together14{
    align-items: center;
  }


/*FLIP PROTEST PICTURE*/
  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 900px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-left: 170px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #135E67;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #135E67;
  color: white;
  transform: rotateY(180deg);
  font-style: 'Noticia Text', serif;
  font-size: 65px;
}



.bottombuttons button {
  background-color: black; /* Green background */
  border: 1px solid "white"; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 30px;
  font-family: 'Noticia Text', serif;
/*  z-index: 1;/*


.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders it was none*/
}
/* Clear floats (clearfix hack)*/
.bottombuttons:after {
  content: "";
  clear: both;
  display: table;
}


/* Add a background color on hover */
.bottombuttons button:hover {
  background-color: darkorange;
}
