.title{
  text-align:center;
  font-size: 70px;
  color: white;
  font-family: 'Noticia Text', serif;
}


.minititle{
  text-align:center;
  font-size: 60px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
/*  border: 1px #135E67;
  border-radius: 50px;
  border-style: dashed;*/
}


.intro{
  /*width: 75%;
  float: right;*/
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
}



.intro1{
  width: 95%;
  float: center;
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
}


.intro2{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  margin-left: 130px;
}

.correctpic{
  width: 50%;
  height: 75%;
  float: left;
  margin-left: 170px;
}



body {margin:25px;}

div.polaroid {
  width: 20%;
  height: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: right;
  margin-left: 30px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  font-family: 'Noticia Text', serif;
  font-size:15px;
  color: #254031;
}

.np1{
  height: 150px;
  float: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
}



.waterfall{
  width: 100%;
  height: 100px;
}

.btn-group button {
  background-color: #135E67; /* Green background */
  border: 1px solid "white"; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 17px;
  font-family: 'Noticia Text', serif;

}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders it was none*/
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #025357;
}




.button button{
  width: 100px;
  display: block; /* Make the links appear below each other */
  background-color: #135E67;
  font-size: 17px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: white; /* Black text color */
  border-style: none;
}

.vertical-menu {
  width: 120px; /* Set a width if you like 200px */
  float: left;
  margin-bottom: 100px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  margin-top: 15px; /* Add a top margin to avoid content overlay 30px*/
}

.vertical-menu a {
  background-color: #135E67; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10%; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 17px;
  font-family: 'Noticia Text', serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #025357; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}










body, html {
    height: 100%;
}

/* The hero image */
.waterfall {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("water.gif");

  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: -180px;
}
