.title{
  text-align:center;
  font-size: 70px;
  color: white;
  font-family: 'Noticia Text', serif;
}


.minititle{
  text-align:center;
  font-size: 60px;
  color: #135E67;
  font-family: 'Noticia Text', serif;
/*  border: 1px #135E67;
  border-radius: 50px;
  border-style: dashed;*/
}


.intro{
  /*width: 75%;
  float: right;*/
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
}



.intro1{
  width: 95%;
  float: center;
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
}


.intro2{
  text-align: center;
  font-family: 'Noticia Text', serif;
  font-size:20px;
  color: #254031;
  margin-left: 130px;
}

.correctpic{
  width: 50%;
  height: 75%;
  float: left;
  margin-left: 170px;
}



body {
  margin:20px;
	font-family: 'Noticia Text', serif;
}

div.polaroid {
  width: 20%;
  height: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: right;
  margin-left: 30px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  font-family: 'Noticia Text', serif;
  font-size:15px;
  color: #254031;
}

.np1{
  height: 150px;
  float: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
}


.watergif{
  width: 100%;
  height: 100px;
}

.btn-group button {
  background-color: #135E67; /* Green background */
  border: 1px solid "white"; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 17px;
  font-family: 'Noticia Text', serif;

}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders it was none*/
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #025357;
}




.button button{
  width: 100px;
  display: block; /* Make the links appear below each other */
  background-color: #135E67;
  font-size: 17px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: white; /* Black text color */
  border-style: none;
}

.vertical-menu {
  width: 120px; /* Set a width if you like 200px */
  float: left;
  margin-bottom: 100px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  margin-top: 15px; /* Add a top margin to avoid content overlay 30px*/
}

.vertical-menu a {
  background-color: #135E67; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10%; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: 17px;
  font-family: 'Noticia Text', serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #025357; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

body, html {
    height: 100%;
}

/* The hero image */
.watergif {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("water.gif");

  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin-top: -170px;
  text-align:center;
  font-size: 50px;
  color: white;
  font-family: 'Noticia Text', serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #F2EFEB;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #F2EFEB;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #032F40;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #032F40;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2 {
	padding: 10px;
	width: 500px;
	border-style: dotted;
	border-color: #135E67;
	border-radius: 20px;
  margin-left: 5px;
	margin-bottom: 1px;
  text-align: center;
  font-size: 40px;
  color: #135E67;
}
#quizLeft {
	clear: none;
  width: 100px;
  float: left; /* What side all the questions appear */
}

#quizRight{
	clear: none;
  width: 300px;
  float: left; /* What side all the questions appear */
  margin-top: 56px;
}

#button { /* submit button */
  background: #135E67;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Noticia text', sans-serif;
  text-align: center;
  transition-duration: .5s;
  margin-top: 15px;
	margin-bottom: 15px;
	width: 25%;
  margin-left: auto;
}

#button:hover { /* submit button */
  background: #025357;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

#after_submit {
  visibility: hidden;
  padding: 10px 20px 10px 10px;
  width: 1000px;
  border-radius: 20px;
  float: bottom;
  font-size: 20px;
}

#instructions {
	width: 1010px;
	margin-top: 10px;
  margin-left: 5px;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #fff;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Noticia Text', serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #025357;
}
.form-radio:checked
{
     background-color: #135E67;
}
label
{
     font: 15px/1.7 'Noticia Text', serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
}
